body {
  font-family: papyrus;
  /*background: #CFE6DA;*/
  margin: 0;
}

#user-etsy-input {
  width: 115px;
  height: 17px;
  border-radius: 4px;
}

#user-eventLoc-input {
  width: 115px;
  height: 17px;
  border-radius: 4px;

}

a {
  font-size: 12px;
}

h4 {
  margin: 0;
  font-size: 14px;
}

h3 {
  margin: 0;
}

h2 {
  /*text-align: center;*/
  margin: 0;
  margin-top: 10px;
}

h1 {
  padding-left: 10px;
}

.main-form {
  padding-left: 10px;
  padding-bottom: 25px;
}

#flex-container {
  background-image: url("mainImg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  width: 1000px;

}

#container-one {
  width: 600px;
  height: 650px;
  /*background-color: lightblue;*/
  /*height: 2100px;*/
}

#container-two {
  width: 400px;
  height: 650px;
  /*background-color: lightyellow;*/
  /*height: 2100px;*/
  padding-left: 10px;
}

#gift-ideas {
  padding-left: 10px;
}

#saved-h2 {
  /*padding-left: 25px;*/
}

#templates-container {
  padding-left: 10px;
}

.hidden {
  visibility: hidden;
}

.saved-listing {
  padding-right: 10px;
}

.event-img {
  height: 100px;
  width: 100px;
}

/*img {
  height: 100px;
  width: 100px;
}*/

.bold {
  font-weight: bold;
}

p {
  margin: 0;
}

#container-one.height {
  height: 2375px;
}

#container-two.height {
  height: 2375px;
}
