body {
  font-family: papyrus;
  background: lightgray;
  margin: 0;
}

#user-etsy-input {
  width: 180px;
  height: 20px;
  border-radius: 4px;
}

a {
  font-size: 12px;
}

h4 {
  margin: 0;
  font-size: 14px;
}

h3 {
  margin: 0;
}

h2 {
  /*text-align: center;*/
  margin: 0;
  margin-top: 10px;
}

h1 {
  padding-left: 10px;
}

.main-form {
  padding-left: 10px;
}

#flex-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
}

#container-one {
  width: 600px;
  background-color: lightblue;
  height: 1000px;
}

#container-two {
  width: 360px;
  background-color: lightyellow;
  height: 1000px;
}

#etsy-treasuries-container {
  padding-left: 25px;
}

#inspirations {
  padding-left: 25px;
}

.hidden {
  visibility: hidden;
}
